[data-theme='kudos'] {
  --text-scaling: 1.067;
  --base-font-color: var(--color-surface-950);
  --base-font-color-dark: var(--color-surface-50);
  --base-font-family: system-ui, sans-serif;
  --base-font-size: inherit;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: inherit;
  --heading-font-color-dark: inherit;
  --heading-font-family: inherit;
  --heading-font-weight: bold;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-primary-500);
  --anchor-font-color-dark: var(--color-primary-500);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.25rem;
  --radius-base: 0.375rem;
  --radius-container: 0.75rem;
  --default-border-width: 1px;
  --default-divide-width: 1px;
  --default-ring-width: 1px;
  --body-background-color: var(--color-surface-50);
  --body-background-color-dark: var(--color-surface-950);
  --color-primary-50: oklch(96.26% 0.06 196.24deg);
  --color-primary-100: oklch(92.58% 0.08 200.42deg);
  --color-primary-200: oklch(89.5% 0.11 201.91deg);
  --color-primary-300: oklch(86.63% 0.13 204.48deg);
  --color-primary-400: oklch(84.45% 0.14 205.96deg);
  --color-primary-500: oklch(82.43% 0.14 208.61deg);
  --color-primary-600: oklch(75.71% 0.13 209.5deg);
  --color-primary-700: oklch(68.88% 0.12 211.29deg);
  --color-primary-800: oklch(61.58% 0.11 213.68deg);
  --color-primary-900: oklch(54.37% 0.1 216.65deg);
  --color-primary-950: oklch(46.85% 0.09 219.62deg);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-primary-50);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-dark);
  --color-primary-contrast-500: var(--color-primary-contrast-dark);
  --color-primary-contrast-600: var(--color-primary-contrast-dark);
  --color-primary-contrast-700: var(--color-primary-contrast-dark);
  --color-primary-contrast-800: var(--color-primary-contrast-dark);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(86.74% 0.13 326.61deg);
  --color-secondary-100: oklch(80.68% 0.18 328.45deg);
  --color-secondary-200: oklch(75.57% 0.23 329.81deg);
  --color-secondary-300: oklch(71.54% 0.27 331.21deg);
  --color-secondary-400: oklch(68.74% 0.29 332.23deg);
  --color-secondary-500: oklch(67.15% 0.3 333.21deg);
  --color-secondary-600: oklch(61.56% 0.28 332.99deg);
  --color-secondary-700: oklch(55.77% 0.25 333.01deg);
  --color-secondary-800: oklch(49.74% 0.22 332.38deg);
  --color-secondary-900: oklch(43.61% 0.2 332.3deg);
  --color-secondary-950: oklch(37.3% 0.17 331.71deg);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-600: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-700: var(--color-secondary-contrast-light);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(99.18% 0.01 196.81deg);
  --color-tertiary-100: oklch(95.9% 0.04 177.21deg);
  --color-tertiary-200: oklch(93.02% 0.06 171.72deg);
  --color-tertiary-300: oklch(89.99% 0.09 168.79deg);
  --color-tertiary-400: oklch(87.45% 0.11 166.57deg);
  --color-tertiary-500: oklch(84.82% 0.13 165deg);
  --color-tertiary-600: oklch(77.45% 0.13 164.74deg);
  --color-tertiary-700: oklch(70.2% 0.12 163.95deg);
  --color-tertiary-800: oklch(62.57% 0.12 163.82deg);
  --color-tertiary-900: oklch(55.09% 0.11 162.14deg);
  --color-tertiary-950: oklch(47.19% 0.11 160.05deg);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(93.34% 0.12 147.55deg);
  --color-success-100: oklch(87.29% 0.13 148.07deg);
  --color-success-200: oklch(81.48% 0.15 148.19deg);
  --color-success-300: oklch(75.53% 0.16 148.15deg);
  --color-success-400: oklch(69.84% 0.17 147.61deg);
  --color-success-500: oklch(64.01% 0.18 146.74deg);
  --color-success-600: oklch(57.35% 0.16 146.15deg);
  --color-success-700: oklch(50.5% 0.14 145.43deg);
  --color-success-800: oklch(43.42% 0.13 144.78deg);
  --color-success-900: oklch(36.04% 0.11 143.77deg);
  --color-success-950: oklch(28.16% 0.1 142.5deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-dark);
  --color-success-contrast-700: var(--color-success-contrast-light);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(98.51% 0.08 107.77deg);
  --color-warning-100: oklch(95.16% 0.1 104.21deg);
  --color-warning-200: oklch(91.72% 0.11 100.36deg);
  --color-warning-300: oklch(88.42% 0.12 98.35deg);
  --color-warning-400: oklch(85.06% 0.14 95.43deg);
  --color-warning-500: oklch(81.85% 0.14 93.57deg);
  --color-warning-600: oklch(74.53% 0.13 93.53deg);
  --color-warning-700: oklch(67.03% 0.12 93.53deg);
  --color-warning-800: oklch(59.65% 0.11 93.51deg);
  --color-warning-900: oklch(51.71% 0.1 93.27deg);
  --color-warning-950: oklch(43.45% 0.09 92.84deg);
  --color-warning-contrast-dark: var(--color-warning-950);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-light);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(85.01% 0.08 20.78deg);
  --color-error-100: oklch(79.18% 0.11 19.01deg);
  --color-error-200: oklch(73.41% 0.13 17.98deg);
  --color-error-300: oklch(68.17% 0.16 18deg);
  --color-error-400: oklch(63.26% 0.18 19.07deg);
  --color-error-500: oklch(59.16% 0.2 21.24deg);
  --color-error-600: oklch(53.3% 0.19 22.22deg);
  --color-error-700: oklch(47.38% 0.17 23.61deg);
  --color-error-800: oklch(41.04% 0.15 24.63deg);
  --color-error-900: oklch(34.78% 0.13 26.62deg);
  --color-error-950: oklch(28% 0.11 29.23deg);
  --color-error-contrast-dark: var(--color-error-950);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-dark);
  --color-error-contrast-500: var(--color-error-contrast-light);
  --color-error-contrast-600: var(--color-error-contrast-light);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(100% 0 none);
  --color-surface-100: oklch(94.75% 0.01 286.45deg);
  --color-surface-200: oklch(89.54% 0.01 290.36deg);
  --color-surface-300: oklch(84.16% 0.02 288.84deg);
  --color-surface-400: oklch(78.8% 0.03 289.88deg);
  --color-surface-500: oklch(73.25% 0.04 288.83deg);
  --color-surface-600: oklch(66.06% 0.04 288.86deg);
  --color-surface-700: oklch(58.59% 0.04 287.02deg);
  --color-surface-800: oklch(50.74% 0.04 288.59deg);
  --color-surface-900: oklch(42.71% 0.04 286.52deg);
  --color-surface-950: oklch(34.4% 0.04 286.1deg);
  --color-surface-contrast-dark: var(--color-surface-950);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-dark);
  --color-surface-contrast-500: var(--color-surface-contrast-dark);
  --color-surface-contrast-600: var(--color-surface-contrast-dark);
  --color-surface-contrast-700: var(--color-surface-contrast-dark);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}
